:root {
  --primary-color: dodgerblue;
  --task-height: 50px;
  --task-margin: 15px;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  color: black;
  padding: 10px;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

.addTask {
  height: 30vh;
  background-color: var(--primary-color);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tasks-container {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: var(--task-margin);
  padding-top: 50px;
}

.task {
  height: var(--task-height);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: var(--task-margin);
  transition: background-color 0.2s ease-in-out;
}

.task:hover {
  background-color: #e0e0e0;
}

.task button {
  width: auto;
  margin-left: 5px;
}

.addTask button {
  margin-left: 5px;
}